body {
    margin: 0;
    padding: 0;
    background-color: blue;
}
#navbar-right{
    float: right;
    margin-right: 25px;
}
#img{
  text-align: center;
}
#image.img{
    border-radius: 500px;
    margin: 150px 150px 50px 150px;
    border: 5px solid red;
    width: 650px;
    height: 650px;
    align-items: center
}
